node_modules/
.next/
__pycache__/
*.pyc
.venv/
venv/
*.egg-info/
.env
.env.local
.env.*.local
*.log
.DS_Store
uploads/
processed/
backend/processed/
backend/uploads/
data/
data/*.csv
backend/__pycache__/
*.csv
*.xlsx
*.xls
*.ipynb_checkpoints
backend/venv/
.ipynb_checkpoints/
